:root {
    --favColour1: #002B4D;
    --favColour2: #1f3d0c;
}

body{
    background-color: var(--favColour1);
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: block;
    font-family: "Poppins", sans-serif;
    
}

/* Card animation styling */
.card{
    width: 300px;
    height: 400px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    -webkit-perspective: 1200px;
    perspective: 1200px;
    transition: 1s;
}
.inner, .outer{
    position: absolute;
  
    height: 400px;
    width: 300px;
    cursor: pointer;
    background: linear-gradient(to right, #e7e7e7, #ffffff 30%);

}
.outer{
    -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 1;
  transform-origin: left;
  transition: 1.5s;

}

.outer-front, .outer-back{
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.outer-back {
  transform: rotateY(180deg);
  background: linear-gradient(to left, #e7e7e7, #ffffff 30%);
}

.card:hover {
    transform: rotate(10deg) ;
}
.card:hover .outer {
    transform: rotateY(-130deg);
}
/* Front of card styling */

.outer-front p{
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 50px;
  text-align: center;
  letter-spacing: 6px;
  color: #000000;
}

.present {
  display: flex;
  height: 50%;
}
/* Gift bow styling */
.bow{
  z-index: 1;
  height: 100%;
}
.bow::before, .bow::after{
  content: "";
  width: 53.3333333333px;
  height: 53.3333333333px;
  border: 2px solid black;
  border-radius: 50% 50% 0 50%;
  position: absolute;
  bottom: 55%;
  z-index: -1;
}
.bow::before {
  left: 49%;
  -webkit-transform: translateX(-100%) skew(10deg, 10deg);
          transform: translateX(-100%) skew(10deg, 10deg);
}
.bow::after {
  left: 51%;
  -webkit-transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
          transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
}

/* Gift box lid */
.lid{
  border: 2px solid black;
  position: absolute;
  z-index: 1;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 46%;
  height: 30px;
  background-color: #228B22;
  width: 180px;
  border-radius: 5%;
  box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.3);
}

.lid::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
  background: white;
}

/* Gift box styling */
.box{
  position: absolute;
  top: 19%;
  left: 20%;
  height: 150px;
  width: 175px;
  margin-top: 123.3333333333px;
  background-color: #228B22;
  border: black solid 2px;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
}
.box::after{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
  background: white;
}

/* Balloon animation styling */
#balloon-container {
  height: 100vh;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  transition: opacity 500ms;
}

.balloon {
  height: 125px;
  width: 105px;
  border-radius: 75% 75% 70% 70%;
  position: relative;
}

.balloon:before {
  content: "";
  height: 75px;
  width: 1px;
  padding: 1px;
  background-color: #FDFD96;
  display: block;
  position: absolute;
  top: 125px;
  left: 0;
  right: 0;
  margin: auto;
}

.balloon:after {
    content: "▲";
    text-align: center;
    display: block;
    position: absolute;
    color: inherit;
    top: 120px;
    left: 0;
    right: 0;
    margin: auto;
}

@keyframes float {
  from {transform: translateY(100vh);
  opacity: 1;}
  to {transform: translateY(-300vh);
  opacity: 0;}
}